<footer style="background-color: #9A031E; color: #fff; padding: 40px 0;">
    <div class="container">
      <div style="display: flex; justify-content: space-between; text-align: center; flex-direction: column; align-items: center;">
        <!-- Contact Info and Opening Hours -->
        <div>
          <p>San Pedro Church, 500 Terry Francine Street, San Francisco, CA 94158</p>
          <p>Email: <a href="mailto:info&#64;mysite.com" style="color: #fff;">info&#64;mysite.com</a></p>
          <p>Tel: 123-456-7890</p>
          <p>Opening Hours: Mon - Fri: 8am-8pm, Saturday: 9am-7pm, Sunday: 9am-8pm</p>
        </div>
        <div>
            <a href="#">Terms & Conditions</a> &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="#">Privacy Policy</a> &nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp; 
            <a href="#">Accessibility Statement</a>
          </div>
          <p>©2035 by yourcompany</p>
      </div>
    </div>
  </footer>
  