<section class="ftco-section ftco-services-2" id="services-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center">
          <h2 class="subheading">Our Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-praying"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Daily Prayers</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-praying"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Daily Prayers</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-praying"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Daily Prayers</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>      
          </div>
          <div class="col-md d-flex align-self-stretch ftco-animate fadeInUp ftco-animated">
            <div class="media block-6 services text-center d-block">
              <div class="icon"><span class="flaticon-praying"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Daily Prayers</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>      
          </div>
        
      </div>
    </div>
  </section>
  <style>
    .heading-section .subheading {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 8px;
    font-weight: 600;
    position: relative;
}
  </style>