<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-lg-12 col-sm-12">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-12 col-sm-12">
    <app-about-church></app-about-church>
  </div>
  <div class="col-lg-12 col-sm-12">
    <app-church-services></app-church-services>
  </div>
  <div class="col-lg-12 col-sm-12">
    <app-upcoming-events></app-upcoming-events>
  </div>
  

  <!-- column -->
  <!-- column -->
  
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<Style>
  .row1 {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 100vh; /* Optional: Adjust to your layout needs */
}

.col-lg-9-1 {
  display: flex;
  justify-content: center; /* Ensure content inside the column is centered horizontally */
}
</Style>
