
    <div id="churchCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/crousal2.jpeg" class="d-block w-100" alt="Image 1">
          <div class="carousel-caption d-none d-md-block">
            <h5>Celebrate the Birth of jesue Christ</h5>
            <p>Light the Worls this christmas</p>
            <a href="/sunday-service" class="btn btn-primary">Learn More</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/crousal3.jpeg" class="d-block w-100" alt="Image 2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Our Community Events</h5>
            <p>Check out our upcoming events</p>
            <a href="/events" class="btn btn-primary">View Events</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/crousal4.jpeg" class="d-block w-100" alt="Image 3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Get Involved</h5>
            <p>Become a part of our church family</p>
            <a href="/get-involved" class="btn btn-primary">Join Us</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#churchCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#churchCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    

