<section class="upcoming-events">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center">
              <h2 class="subheading mb-4">Upcoming Events</h2>
            </div>
          </div>
      <div class="row">
        <div  class="col-md-6 mb-4">
          <div class="event-card">
            <div class="event-date">
              <span>8:30am - 11:30am</span>
            </div>
            <h3 class="event-title">Sharing Our Faith & Gospel</h3>
            <p class="event-pastor">by pastor: Jerry Simon</p>
            <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
            <button class="join-us-btn">Join Us</button>
          </div>
        </div>
        <div  class="col-md-6 mb-4">
            <div class="event-card">
              <div class="event-date">
                <span>8:30am - 11:30am</span>
              </div>
              <h3 class="event-title">Sharing Our Faith & Gospel</h3>
              <p class="event-pastor">by pastor: Jerry Simon</p>
              <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
              <button class="join-us-btn">Join Us</button>
            </div>
          </div>
          <div  class="col-md-6 mb-4">
            <div class="event-card">
              <div class="event-date">
                <span>8:30am - 11:30am</span>
              </div>
              <h3 class="event-title">Sharing Our Faith & Gospel</h3>
              <p class="event-pastor">by pastor: Jerry Simon</p>
              <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
              <button class="join-us-btn">Join Us</button>
            </div>
          </div>
          <div  class="col-md-6 mb-4">
            <div class="event-card">
              <div class="event-date">
                <span>8:30am - 11:30am</span>
              </div>
              <h3 class="event-title">Sharing Our Faith & Gospel</h3>
              <p class="event-pastor">by pastor: Jerry Simon</p>
              <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
              <button class="join-us-btn">Join Us</button>
            </div>
          </div>
          <div  class="col-md-6 mb-4">
            <div class="event-card">
              <div class="event-date">
                <span>8:30am - 11:30am</span>
              </div>
              <h3 class="event-title">Sharing Our Faith & Gospel</h3>
              <p class="event-pastor">by pastor: Jerry Simon</p>
              <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
              <button class="join-us-btn">Join Us</button>
            </div>
          </div>
          <div  class="col-md-6 mb-4">
            <div class="event-card">
              <div class="event-date">
                <span>8:30am - 11:30am</span>
              </div>
              <h3 class="event-title">Sharing Our Faith & Gospel</h3>
              <p class="event-pastor">by pastor: Jerry Simon</p>
              <p class="event-location">203 Fake St. Mountain View, San Francisco, California, USA</p>
              <button class="join-us-btn">Join Us</button>
            </div>
          </div>
      </div>
    </div>
    <div>
       
    </div>
  </section>
  <style>
  

  </style>